.user-playlists {
    border-radius: 0.5rem;
}

.toggle-tracks-btn {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    gap: 3rem;
    justify-content: space-between;
    background: none;
    border: none;
    width: 100%;
}

.toggle-tracks-btn h3 {
    font-weight: 400;
}

.playlist {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.playlist-header > button {
    border: none;
    background: none;
}

.toggle-tracks-btn > div svg {
    width: 4rem;
    height: 4rem;
}

.no-playlists {
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 0.5rem;
}